<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TU-PINE | TRANSEE</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../src/Picture/favicon.png" sizes="64x64">
  <link rel="shortcut icon" href="../src/Picture/favicon.png">
  <link rel="apple-touch-icon" href="../src/Picture/favicon.png">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../src/style/Start.css">

</head>
<body>

  <div class="Logo-container">
  <img src="../src/Picture/Logo_TU_PINE_Main.png" alt="TU-PINE Logo" class="logo-tu-pine">
  <div class="produce-by">
    <span>produce by</span>
    <img src="../src/Picture/Transee_Logo_White.png" alt="Transee Logo" class="logo-transee">
  </div>
</div>


    <div class="buttons">
      <a href="Login.html" class="login-btn">เข้าสู่ระบบ</a>
      <a href="Signup.html" class="signup-btn">ลงทะเบียน</a>
    </div>
  </div>
</body>
</html>