
body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh; 
    min-width: 100vw; 
    margin: 0;
    padding: 0;
}

.bi-house-fill{
  font-size: 40px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.2s;
}

.bi-house-fill:hover {
  transform: scale(1.15);
  color: #7e1425; /* สีแดงเข้มตอน hover */
}

/* Make the upload button glow red */
.btn-error {
  border: 2px solid red;
  box-shadow: 0 0 10px red;
  animation: glow 1s infinite alternate;
}

/* Left side */
.left-panel {
    background: linear-gradient(to bottom, #b23a3a, #ffffff);
    color: white;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.25);
    width: 30%;
    min-height: 100vh; 
    padding: 40px 30px;
    padding-right: 70px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Student Infomation */
.left-panel h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.3;
}
  
.logo img {
    width: 400px;
    margin-left: 90px;
}
  
/* Right side */
.right-panel {
    flex: 2;
    padding: 40px;
}

/* Right side */
.right-panel h2 {
    margin: 20px 0 15px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.right-panel h2::after {
    content: "";
    flex: 1;
    border-top: 2px solid #000;
    margin: 0 10px;
}

.info-fields {
    flex: 1;
}

.profile-photo img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2) inset;
}

.upload-btn {
    background: #e0e0e0;
    color: #666561;
    border: 1px solid #000;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-top: 10px;
}

.upload-btn:hover {
    background: #c9c9c9
    ;
}


.student-info {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.edu-info {
    margin-bottom: 20px;
}

.select option[disabled] {
    color: #666561;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.readonly-field {
    background-color: #e0e0e0;   
    color: #666561;              
    cursor: not-allowed;         /* แสดงว่าแก้ไม่ได้ */
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 12px;

}

.form-group .form-floating {
    margin-bottom: 0 !important;
}
  
.checkbox {
    
    display: flex;
    gap: 5px;
    justify-content: center;            /* จัดให้อยู่กลางแนวนอน */
    align-items: center;  
}

.checkbox input[type="checkbox"] {
    flex: 0;
    
}
  
/* Submit Button */
.btn-submit {
    background-color: #a6362f;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #872b26;
    color: white;
}

.form-floating {
    flex-basis: 50%;
    width: 100%;
    height: 60px;
}

.form-floating input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    margin: 0;
}

.form-floating label {
    color: rgb(104, 96, 96); 
}

.is-invalid {
    border: 2px solid red !important;
}

.modal.modal-top .modal-dialog {
  margin-top: 50px; /* ระยะห่างจากด้านบน */
}

.modal.modal-top .modal-dialog-centered {
  align-items: flex-start; 
}

.is-invalid {
    border: 2px solid red !important;
}

.checkbox .invalid-feedback {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

#consent.is-invalid + label + .invalid-feedback {
    display: block;
}

.is-invalid {
    border: 2px solid red !important;
}

/* สีแดงของ placeholder เวลา invalid */
.is-invalid::placeholder {
  color: #dc3545;  /* สีแดง Bootstrap */
  opacity: 1;
}

